<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel='icon' href='/img/weather.png'>
    <link rel='stylesheet' href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div class="content">
            <p>Enter a location in the search box 
                to get weather forecast of that location.</p>
            <p>{{message}}</p>
            
        </div>
    </div>
    
    
    {{>footer}}
</body>
</html>
